@charset "utf-8";
/* CSS Document */

/*====================================================================================================================================================================================================================================================================================
Html & Body & Content
====================================================================================================================================================================================================================================================================================*/

html{
    margin: 0;
  	padding: 0;
  	height: 100%;
}

body{
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
	padding: 0;
	height: 100%;
  background-color: #BDBDBD;
}

main{
  padding-top: 60px;
  padding-bottom: 100px;
}

.contentindex{
  background-color: rgba(216,216,216,0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.content{
  font-size: 20px;
}

/*====================================================================================================================================================================================================================================================================================
Navbar Allgemein
====================================================================================================================================================================================================================================================================================*/

.navbar-brand>img{
	height: 100%;
	width: auto;
}

/*====================================================================================================================================================================================================================================================================================
Navbar Index
====================================================================================================================================================================================================================================================================================*/

.navbar{
  border: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#navbar ul li a{
  color: #4A4A49;
}
#navbar ul li a:hover{
  color: white;
}

.navbar-nav{
  padding-left: 50px;
}

span{
  margin-right: 20px;
}

.indexnav{
  background-color: rgba(216,216,216,0.6);
}

/*====================================================================================================================================================================================================================================================================================
Navbar Rest
====================================================================================================================================================================================================================================================================================*/

.generalnav{
  background-color: #D8D8D8;
}

/*====================================================================================================================================================================================================================================================================================
Footer Index
====================================================================================================================================================================================================================================================================================*/

.footerindex{
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 20px;
  padding-top: 10px;
  max-height: 200px;
  background-color: rgba(216,216,216,0.6);
}

.footerindex p{
  color: #4A4A49;
}

.link{
  letter-spacing: 1px;
  color: #4A4A49;
}

.links{
  margin-left: 50px;
  letter-spacing: 1px;
  color: #4A4A49;
}
.social{
  float: right;
}
/*====================================================================================================================================================================================================================================================================================
Footer Rest
====================================================================================================================================================================================================================================================================================*/

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 20px;
  padding-top: 10px;
  max-height: 200px;
  background-color: #D8D8D8;
}

.footer p{
  color: #4A4A49;
}

.link{
  letter-spacing: 1px;
  color: #4A4A49;
}

.links{
  margin-left: 50px;
  letter-spacing: 1px;
  color: #4A4A49;
}

/*====================================================================================================================================================================================================================================================================================
Index
====================================================================================================================================================================================================================================================================================*/

.bgvid{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('../img/mobilebg.png') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

.btn{
  margin: 50px 0;
  border: 0;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #D8D8D8;
  font-size: 16px;
  color: #4A4A49;
}

.btn:hover{
  background-color: #FFFFFF;
  transition: 2s;
}

.btn-group-justified{
  margin-top: 50px;
}

.img-responsive{
  margin: 0 auto;
}

/*======================================================================================================================================================================================
Service
=========================================================================================================================================================================================*/

.panel{
  background-color: rgba(216,216,216,0.7);
  border: 3px solid rgba(74,74,73,0.7);
}

.service{
  padding: 15px;
}

.ueberschrift{
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*======================================================================================================================================================================================
Mobile Backround
========================================================================================================================================================================================*/
.mobilebg{
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -100;
}
.mobilebg img{
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
min-width: 50%;
min-height: 50%;
}
.mobile{

  border: 0;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #D8D8D8;
  font-size: 16px;
  color: #4A4A49;
}

.mobile:hover{
  background-color: #FFFFFF;
  transition: 2s;
}
