<footer class="footer">
      <div class="container">
        <p class="text-muted">&#169;&nbsp;&nbsp;2016&nbsp;&nbsp;<a target="_blank" href="https://www.schramm-websolutions.com" class="link">Schramm Websolutions</a>
        <a  href="/Impressum" class="links">Impressum</a>
        <a  href="/Datenschutz" class="links">Datenschutz</a>
        <a  href="https://www.instagram.com/p/BLGoxW6BA05/" target="_blank" class="links social"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
        <a  href="https://www.facebook.com/tinakoostravel/" target="_blank" class="links social"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>
        </p>
      </div>
    </footer>
