 <nav class="navbar navbar-inverse navbar-fixed-top generalnav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Navigation ein-/ausblenden</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <a class="navbar-brand" href="/Tina-Koos-Travel"><img src="img/logo.png" class="img-responsive"  alt="Koos Reisen"/></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/Tina_Koos"><span>Über Mich</span></a></li>
            <li><a href="/Reisearten"><span>Reisearten</span></a></li>
            <li><a href="/Kontakt"><span>Kontakt</span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li>
          Rufen Sie hier Ihre Angebote ab:
       <form target="_blank" method="get" action="http://www.meinereiseangebote.de/GoToAdvisory.php">
       <input type="hidden" name="portal" value="Tina Koos Travel" />
       <input type="hidden" name="widgetid" value="NYAVFCFSZWZBZNGPAKYG" />
       <input type="text" value="" size="20" name="id" maxlength="400" />
       <input type="image" src="http://www.paxconnect.de/images/widgetButton.png" alt="Absenden" />
       </form>
       </li>
        </ul>
        </div>
      </div>
    </nav>
