<!DOCTYPE html>
<html ng-app="koos.reisen">
  <head >
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="Public">
    <meta name="language" content="{{ngMeta.language}}" />
    <meta name="keywords" content="{{ngMeta.keywords}}" />
    <meta name="description" content="{{ngMeta.description}}" />
    <meta name="robots" content="{{ngMeta.robots}}" />
    <meta name="audience" content="{{ngMeta.audience}}" />
    <meta name="page-topic" content="{{ngMeta.page-topic}}" />
    <meta name="revisit-after" content="{{ngMeta.revisit-after}}" />
    <meta http-equiv="imagetoolbar" content="false">
    <meta name="viewport" content="width=device-width, initial-scale=0.7, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <!-- Facebook Metas -->
    <meta property="og:locale" content="{{ngMeta.language}}" />
    <meta property="og:site_name" content="{{ngMeta.title}}" />
    <meta property="og:title" content="{{ngMeta.titleSuffix}}" />
    <meta property="og:description" content="{{ngMeta.description}}" />
    <meta property="og:type" content="{{ngMeta.page-topic}}" />
    <meta property="og:url" content="http://www.imdb.com/title/tt0117500/" />
    <meta property="og:image" content="{{ngMeta.fbtwimage}}" />
    <!-- Twitter Metas -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ngMeta.twitteraccount}}" />
    <meta name="twitter:creator" content="{{ngMeta.twitteraccount}}" />
    <meta name="twitter:title" content="{{ngMeta.title}}" />
    <meta name="twitter:description" content="{{ngMeta.description}}" />
    <meta name="twitter:image" content="{{ngMeta.fbtwimage}}" />
    <!-- Website Title -->
    <title ng-bind="ngMeta.title"></title>
    <!-- Browser Tab Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="img/browserfav/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/browserfav/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/browserfav/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/browserfav/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/browserfav/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/browserfav/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/browserfav/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/browserfav/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/browserfav/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/browserfav/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/browserfav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/browserfav/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/browserfav/favicon-16x16.png">
    <link rel="manifest" href="img/browserfav/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/browserfav/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Fonts Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.svg">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.ttf">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff2">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <!-- Typekit Font Proxima Nova -->
    <script src="https://use.typekit.net/hli8wdv.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <!-- Normalizer Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" >
    <!-- Main Css -->
    <link rel="stylesheet" href="css/main.css" media="screen" title="no title" charset="utf-8">
    <!--Google analytics-->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-80242557-1', 'auto');
    //ga('send', 'pageview'); Stop from triggering on First PageLoad
    </script>
    <!-- Start Website Tutor Cookie Plugin -->
<script type="text/javascript">
  window.cookieconsent_options = {
  message: 'Diese Website nutzt Cookies, um bestmögliche Funktionalität bieten zu können.',
  dismiss: 'Ok, verstanden',
  learnMore: 'Mehr Infos',
  link: 'http://tinakoostravel.de/Datenschutz',
  theme: 'dark-bottom'
 };
</script>
<script type="text/javascript" src="//valao.de/cookieplugin/script.js"></script>
<!-- Ende Website Tutor Cookie Plugin -->
  </head>

  <body>
    <!-- Content -->
    <div ng-view></div>
    <!-- Third Party -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript for Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Angular  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
    <script src="bower_components/re-tree/re-tree.min.js"></script>
    <script src="bower_components/ng-device-detector/ng-device-detector.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-cookies.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-message-format.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-touch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-toarrayfilter/1.0.1/toArrayFilter.js"></script>
    <script src="components/ngMeta.min.js"></script>




    <!-- Angular Main Apps  -->
    <script src="app/app.js"></script>
    <script src="app/app.config.js"></script>
    <!-- Angular Contollers  -->
    <script src="controller/index.content.controller.js"></script>
    <script src="controller/booking.controller.js"></script>





  </body>

</html>
