<div class="container-fluid">
  <h1>Travel Design Form</h1>
  <article>
    <p>Überall dieselbe alte Leier. Das Layout ist fertig, der Text lässt auf sich warten.</p>

    <p>Damit das Layout nun nicht nackt im Raume steht und sich klein und leer vorkommt, springe ich ein: der Blindtext.</p>

    <p>Genau zu diesem Zwecke erschaffen, immer im Schatten meines großen Bruders »Lorem Ipsum«, freue ich mich jedes Mal,
       wenn Sie ein paar Zeilen lesen. Denn esse est percipi - Sein ist wahrgenommen werden. Und weil Sie nun schon die Güte haben,
       mich ein paar weitere Sätze lang zu begleiten, möchte ich diese Gelegenheit nutzen, Ihnen nicht nur als Lückenfüller zu dienen,
       sondern auf etwas hinzuweisen, das</p>
  </article>

    <form class="form" role="form">
  <div class="row">
    <div class="col-md-4">
      <h2 class="text-center">Persönliche Daten</h2>
      <div class="form-group input-group input-group-lg">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input type="text" placeholder="Vor und Nachname (Requierd)" class="form-control input-lg" ng-model="input.name">
      </div>
      <div class="form-group input-group input-group-lg">
        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
        <input type="email" placeholder="E-Mail-Adresse (Requierd)" class="form-control input-lg" ng-model="input.email">
      </div>
      <div class="form-group input-group input-group-lg">
        <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
        <input type="tel" placeholder="Telefonnummer (Requierd)" class="form-control input-lg" ng-model="input.tele">
      </div>
      <div class="form-group input-group input-group-lg">
        <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
        <input type="number" placeholder="Anzahl Reisender Erwachsener (Requierd)" class="form-control input-lg" ng-model="input.erwachsene">
        <input type="number" placeholder="Anzahl Reisender Kinder (Requierd)" class="form-control input-lg" ng-model="input.kinder">
      </div>
      <div class="form-group input-group input-group-lg">
        <input type="number" placeholder="Budget" class="form-control input-lg" ng-model="input.budget">
        <span class="input-group-addon"><span class="glyphicon glyphicon-eur" aria-hidden="true"></span></span>
      </div>
  </div>
  <div class="col-md-4">
    <h2 class="text-center">Reisedaten</h2>
    <div class="form-group input-group input-group-lg">
      <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
      <input type="text" placeholder="Wunschziel (Requierd)" class="form-control input-lg" ng-model="input.ziel">
    </div>
    <div class="form-group input-group input-group-lg">
      <span class="input-group-addon"><span class="glyphicon glyphicon-plane"></span></span>
      <input type="text" placeholder="Abflughafen" class="form-control input-lg" ng-model="input.flughafen">
    </div>
    <div class="form-group input-group input-group-lg">
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      <input type="date" placeholder="Frühstes Abflugdatum" class="form-control input-lg" ng-model="input.abflug">
      <input type="date" placeholder="Spätestes Rückflugdatum" class="form-control input-lg" ng-model="input.rueckflug">
    </div>
    <div class="form-group input-group input-group-lg">
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      <input type="number" placeholder="Maximale Reisedauer in Tagen" class="form-control input-lg" ng-model="input.reisedauer">
    </div>
    <div class="form-group input-group input-group-lg">
      <span class="input-group-addon"><span class="glyphicon glyphicon-list-alt"></span></span>
      <select placeholder="Budget" class="form-control input-lg" ng-model="input.hotelkati">
      <option value="" selected disabled>Hotelkategorie</option>
      <option>5 Sterne</option>
      <option>4 Sterne</option>
      <option>3 Sterne</option>
      <option>2 Sterne</option>
      <option>1 Stern</option>
      <option>Pension/Jugendherberge</option>
    </select>
    </div>
  </div>
  <div class="col-md-4">
    <h2 class="text-center">Reiseoptionen</h2>
    <div class="form-group input-group input-group-lg">
      <span class="input-group-addon"><span class="glyphicon glyphicon-road"></span></span>
      <select class="form-control input-lg" ng-model="input.transfer">
      <option value="" selected disabled>Privat Transfer am Ziel</option>
      <option>Ja</option>
      <option>Nein</option>

    </select>
    </div>
    <div class="form-group input-group input-group-lg">
      <span class="input-group-addon"><span class="glyphicon glyphicon-eye-open"></span></span>
      <select  class="form-control input-lg" ng-model="input.verpflegung">
      <option value="" selected disabled>Verpflegung</option>
      <option>Frühstück</option>
      <option>Halbpension</option>
      <option>Vollpension</option>
      <option>All Inclusive</option>
      <option>Nein</option>
    </select>
    </div>
    <div class="form-group input-group input-group-lg">
      <span class="input-group-addon"><span class="glyphicon glyphicon-question-sign"></span></span>
      <select  class="form-control input-lg" ng-model="input.greenfees">
      <option value="" selected disabled>Greenfees</option>
      <option>Ja</option>
      <option>Nein</option>
    </select>
    </div>
    <div class="form-group input-group input-group-lg">
      <span class="input-group-addon"><span class="glyphicon glyphicon-question-sign"></span></span>
      <select  class="form-control input-lg" ng-model="input.anruf">
      <option value="" selected disabled>Rückrufbitte</option>
      <option>Ja</option>
      <option>Nein</option>
    </select>
    </div>
  </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Zusätzliche Wünsche</h2>
        <div class="form-group">
          <textarea class="form-control" rows="10" ng-model="input.comment"></textarea>
        </div>
      </div>
    </div>

    </form>
    <button
    class="btn btn-default" ng-click="buchungsenden(input.comment,input.anruf,input.greenfees,input.verpflegung,input.transfer,input.hotelkati,input.reisedauer,input.rueckflug,
    input.abflug,input.flughafen,input.ziel,input.budget,input.kinder,input.erwachsene,input.tele,input.email,input.name)">Anfragen</button>
  </div>

<h1 ng-repeat="test in tests">{{test}}</h1>
