<!-- Ausgabe je nach Mobile oder Desktop --->
<div ng-if="mobile">
 <div class="mobilebg">
   <img class="img-responsive" src="img/mobilebg.png" alt="Tina Koss Travel Mobile BG" />
</div>
<div class="contentindex">


   <!-- Import Index Navbar --->
   <header ng-include="'views/navigation/navbar'"></header>

   <!-- Startseite Content --->

   <main class="container">
   <img class="img-responsive" src="img/logo.png" alt="Tina Koos Reisen">
   <h1 class="text-center"> Glück ist kein Zustand, sondern eine Art zu Reisen </h1>
   <div class="btn-group-justified">
    <a href="/Tina_Koos" class="btn btn-default left">Über mich</a>
    <a href="/Reisearten" class="btn btn-default middle">Reisearten</a>
    <a href="/Kontakt" class="btn btn-default right">Kontakt</a>
   </div>
   </main>

   <!-- Import Index Footer --->
   <div  ng-include="'views/navigation/footer.html'"></div>


</div>
</div>
<div ng-if="desktop">
  <video playsinline autoplay muted loop poster="img/mobilebg.png" class="bgvid">
    <source src="vid/Insel.mp4" type="video/mp4">
    <source src="vid/Insel.ogv" type="video/ogg">
    <source src="vid/Insel.webm" type="video/webm">
  </video>
  <div class="contentindex">
  <!-- Import Index Navbar --->
  <header ng-include="'views/navigation/navbarindex.html'"></header>



  <!-- Startseite Content --->

  <main class="container">
  <img class="img-responsive" src="img/logo.png" alt="Tina Koos Reisen">
  <h1 class="text-center"> Glück ist kein Zustand, sondern eine Art zu Reisen </h1>
  <div class="btn-group-justified">
   <a href="/Tina_Koos" class="btn btn-default left">Über mich</a>
   <a href="/Reisearten" class="btn btn-default middle">Reisearten</a>
   <a href="/Kontakt" class="btn btn-default right">Kontakt</a>
  </div>
  </main>

  <!-- Import Index Footer --->
  <div  ng-include="'views/navigation/indexfooter.html'"></div>
  </div>

</div>
