<!-- Import Navbar --->
<header ng-include="'views/navigation/navbar.html'"></header>



<!-- Startseite Content --->
  <main class="container">
    <br>
    <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h5><strong>Kontaktdaten</strong></h5>
      <address>
      Sie erreichen mich per Telefon, WhatsApp, Skype oder Email Montag - Samstag von 9 - 21 Uhr unter den folgenden Kontaktdaten:<br><br>
      <strong>Mobil:</strong><a href="tel:+4915231993907"> +49 152-31993907</a> <br><br>
      <strong>Festnetz:</strong><a href="tel:+4971319730927"> +49 7131-9730927</a> <br><br>
      <strong>Email:</strong><a href="mailto:tina.koos@tinakoostravel.de"> tina.koos@tinakoostravel.de</a><br><br>
      <strong>Skype:</strong><a href="skype:info@tinakoostravel.de?call"> info@tinakoostravel.de</a>
      <br><br>
      </address>
    </div>
    <div class="col-xs-12 col-sm-6">
      <img class="img-responsive portait" src="img/kontakt.jpg" alt="Tina Koos">
    </div>

  </div>

  </main>
<!-- Import Footer --->
<div  ng-include="'views/navigation/footer.html'"></div>
