<!-- Import Navbar --->
<header ng-include="'views/navigation/navbar.html'"></header>



<!-- Service Content --->
<main class="container content text-center">
  <br><br><br>
  <div class="panel panel-primary">
  <p class="service">
  <h2 class="ueberschrift">Pauschalreisen</h2><br><br>
  Von einem klassischen Familienurlaub über Reisen für Paare, Freunde oder Singles, stelle ich Ihnen sehr gerne Pauschalreisen passend zu Ihren Urlaubswünschen vor. <br>Sie erhalten von mir per Email oder WhatsApp einen Link mit Angeboten und suchen sich aus meiner Vorauswahl die richtige Reise heraus.<br> Selbstverständlich berate ich Sie auch sehr gerne persönlich zu Ihren Urlaubswünschen.<br>
</p><br><br>
</div>
<div class="panel panel-primary">
  <p class="service">
  <h2 class="ueberschrift">Hochzeitsreisen</h2><br><br>
  Besondere Erfahrungen habe ich im Bereich der Hochzeitsreisen – von der Zusammenstellung der Flitterwochen bis Hin zu der Organisation der Trauung im Ausland bin ich Ihr Ansprechpartner rund um den schönsten Tag im Leben!</p><br><br>
</div>
<div class="panel panel-primary">
  <p class="service">
  <h2 class="ueberschrift">Golfreisen</h2><br><br>
  Nach mehreren Jahren Tätigkeit bei einem renommierten Golfreiseveranstalter organisiere ich sehr gerne Ihren Golfurlaub mit bestem Know - How.<br>
  Selbstverständlich inklusive Reservierung der Tee Times im In – und Ausland. Ich kümmere mich um die Anmeldung des Golfgepäcks auf Flug und Transfer und vermittele Ihnen auf Wunsch auch Golfunterricht mit renommierten Partnern. Ob Sie alleine verreisen, als Paar, im Freundeskreis oder als Mannschaft – bin ich Ihr kompetenter Ansprechpartner Rund um das Thema Golfreisen.<br><br>Ich berate Sie telefonisch, per Email oder nach individueller Vereinbarung im Golfclub vor Ort.</p><br><br>
</div>
<div class="panel panel-primary">
  <p class="service">
 <h2 class="ueberschrift">Kreuzfahrten</h2><br><br>
  Von Flusskreuzfahrten über Hochsee – und Expeditionskreuzfahrten: Sie können bei mir alle TOP Angebote sämtlicher Reedereien buchen. Sie wissen nicht, welches der mittlerweile zahlreichen Schiffe das Richtige für Sie ist ? Natürlich berate ich Sie gerne….</p><br><br>
</div>
<div class="panel panel-primary">
  <p class="service">
  <h2 class="ueberschrift">Individuelle Reisen</h2><br><br>
  Sie haben bisher nicht das passende Angebot gefunden? Sprechen Sie mich an! Von individuell ausgearbeiteten Bausteinreisen, z.B. durch die USA, Südafrika oder Asien bis hin zum Urlaub in einer Finca, Ferienwohnung oder einer Luxusvilla kümmere ich mich um Ihre individuelle Reiseplanung. Mit viel eigener Reiseerfahrung und ohne Mehrkosten!</p><br><br>
</div>
</main>
<!-- Import Footer --->
<div  ng-include="'views/navigation/footer.html'"></div>
