<!-- Import Navbar --->
<header ng-include="'views/navigation/navbar.html'"></header>



<!-- Über Mich Content --->
<main class="container content text-center">
<img class="img-responsive portait" src="img/tinakoos.jpg" alt="Tina Koos">
<p>
<br><br><br>
Welche Art der Urlaubsreise für Sie die Passende ist, stelle ich anhand Ihrer persönlichen Bedürfnisse und meiner langjährigen Berufserfahrung, individuell zusammen. Ganz gleich ob eine klassische Pauschalreise, ein Cluburlaub, Ihre Flitterwochen, eine Kreuzfahrt, eine Golfreise oder eine maßgeschneiderte Rundreise für Sie das Richtige ist – Sie nennen mir Ihre Reisewünsche und ich kümmere mich um Ihren Traumurlaub!<br><br>
Ich bin Montag – Samstag von 9 – 21 Uhr per Telefon, WhatsApp, Email oder Skype zu erreichen. Sie erhalten von mir, auf Wunsch, durch modernste und innovativste Reisebürosysteme Ihre Angebote über einen Link auf Ihren PC oder Ihr Smartphone geschickt. Somit  können Sie sich Ihre Reisemöglichkeiten in Ruhe anschauen oder ich berate Sie parallel dazu telefonisch.<br><br>
 Sie wünschen eine persönliche Beratung vor Ort? Gerne komme ich zu Ihnen nach Hause, in das Büro, in den Golfclub oder treffe mich in einem Café Ihrer Wahl – selbstverständlich auch außerhalb der Öffnungszeiten eines klassischen Reisebüros. Diese individuellen Termine sind exklusiv für Sie vereinbart und somit mit keinen Wartezeiten oder Unterbrechungen verbunden. Dieser Service ist selbstverständlich kostenfrei.<br><br>
Ich arbeite mit allen Preisvergleichssystemen eines Reisebüros und biete Ihnen – ohne an einen Veranstalter gebunden zu sein – Urlaubsreisen mit dem besten Preis/Leistungsverhältnis.<br><br><br>
</p>
</main>
<!-- Import Footer --->
<div  ng-include="'views/navigation/footer.html'"></div>
